body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif; 
}

header{
    height: 90px;
    position: relative;
    margin-bottom: 30px;
    margin: auto;
}

#headerborder{
    border-color: #cccccc;
    border-bottom-width: 2px;
    border-style: solid;
    height: 90px;
    width: 100%;
}



#sectionhead{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #ffffff;
    position: absolute;
    color: #4aaaa5;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    padding-right: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-bottom-width: 3px;
    width: 870px;
    margin-bottom: 30px;
    margin: auto;

}

#headercontent{
    width: 960px;       /*put header border and content in different divs so I could change their width values. This let me extend the border to the edge of the page. margins had to be set to auto for individual pieces because I took it out of the body so the border could extend beyond the 960px limit. */
    margin: auto;
}

.my-name{
    color: #ffffff;
    height: 60px;
    width: 250px;
    position: absolute;
    font-size: 30px;
    padding-top: 30px;
    padding-left: 30px;
    background: #4aaaa5;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
}

.nav li {
    float: right;
    padding-top: 40px;
    margin-left: 10px;
    font-size: 18px;
    
}

.nav a {
    text-decoration: none;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
   

}



#mid {
    border-color: #efefef;
    border-width: 2px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}


section{
    background-color: #ffffff;
    border-color: #dddddd;
    color: #777777; 
    border-width: 1px;
    border-style: solid;
    width: 900px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    height: 430px;
}

#container{
    margin-top: 120px;
}

#floatleft{
    float: left;
    margin-right: 4px;
}



img{
    max-width: 200px;
}

.contact-info{
    background-color: #ffffff;
    border-color: #dddddd;
}

.portfolio-links{
    background-color: #ffffff;
    border-color: #dddddd;
}

footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}
